.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  font-size: 20px;
  text-align: left;
}

.stylish-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.stylish-table th, .stylish-table td {
    padding: 12px 15px;
}

.stylish-table thead tr {
  background-color: #e36444;
  color: #ffffff;
  text-align: left;
}

.stylish-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.stylish-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* Mouse hover effect for schedule */
.stylish-table tbody tr:hover {
  background-color: rgba(246, 207, 143, 0.616);
}

.stylish-table tbody tr:last-of-type {
  border-bottom: 2px solid #e36444;
}

a {
  color: #e36444;
  text-decoration: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}